{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Change Password</title>
<style media="screen">
  #login{
    display:none;
  }
</style>
<link rel="stylesheet" href="{% static 'home/reg.css' %}">
{% endblock %}

{% block body %}
<div class="signin" style="margin-top:100px;margin-bottom:10px;z-index:-5">
  <h1>Edit</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn" type="submit">Submit</button>
  </form>
</div>
{% endblock %}
